.homeHero{
    width: 100%;
    height: 96vh;
    position: relative;
    background-position: top 75% right 0;
}

.otherHeroes{
    width: 100%;
    height: 96vh;
    position: relative;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.92;
    background-position: top;
}

.heroText{
    position: absolute;
    font-family: 'Epilogue', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.heroText h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    background-color:rgb(250, 250, 85) ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.heroText p{
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.482);
    font-size: 1.2rem;
    color: rgba(1, 0, 0, 0.647);
    font-weight: 800;
    padding: 0.4rem 0 0.4rem 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.heroText .homeBtn{
    text-decoration: none;
    background: var(--yellowish);
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    font-size: 0.8;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--whiteColor);
}

@media screen and (max-width: 550px){
    body{
        margin: 0;
        padding: 0;
    }
    .heroText h1{
        padding: 10px 20px;
        font-size: 1.6rem;
    }

    .heroText p{
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .homeHero{
        width: 100%;
        height: 76vh;
    }
    
    .otherHeroes{
        width: 100%;
        height: 76vh;
    }
    
    
.heroText p{
    width: 90%;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    line-height: 25px;
    padding: 10px;
}

.heroText h1{
    font-size: 1.4rem;
}

}