.mediaBrand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -2rem 1px;
}

.mediaBrand div {
    flex: 1;
    max-width: 250px;
    min-width: 180px;
    margin: 0.6rem 2rem;
    display: flex;
    flex-direction: column;
    padding: 2.6rem 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--light-black);
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: white;
    border: 0.2px rgba(128, 128, 128, 0.145) solid;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

@media screen and (max-width: 1250px) {
    .mediaBrand div {
       font-size: small;
       text-align: center;
    }
}


@media screen and (max-width: 550px) {
    .mediaBrand {
        margin: -4rem 1px;
    }
}