.mediaNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px grey solid;
    padding: 1.2rem 6rem;
}

.mediaNavbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mediaNavbarLogo {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.mediaNavbarLogo img{
    width: 100%;
    height: 2rem;
}

.goldText{
    color: lightcoral;
}

.mediaNavbarLogo h1{
    color: var(--colorWhite);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 28px;
    line-height: 25px;
    cursor: pointer;
}

.mediaNavbar-links_container {
    display: flex;
    flex-direction: row;
}

.mediaNavbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mediaNavbar-links_container p,
.mediaNavbar-sign p,
.mediaNavbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.mediaNavbar-sign button,
.mediaNavbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: var(--mainRed);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.mediaNavbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.mediaNavbar-menu svg {
    cursor: pointer;
}

.mediaNavbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.mediaNavbar-menu_container p {
    margin: 1rem 0;
}

.mediaNavbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .mediaNavbar-links_container {
        display: none;
    }

    .mediaNavbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .mediaNavbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .mediaNavbar {
        padding: 2rem;
    }

    .mediaNavbarLogo {
        margin-right: 0.1rem;
        gap: 0.2rem;
    }

    .mediaNavbarLogo h1{
        font-size: 1.6rem;
    }

    .mediaNavbarLogo img {
        height: 1.6rem;
    }

    .mediaNavbar-sign {
        display: none;
    }

    .mediaNavbar-menu_container {
        top: 20px;
    }

    .mediaNavbar-menu_container-links-sign {
        display: block;
    }
}