:root{
    --mainRed: rgb(174,49,35);
    --altRed: rgb(220,64,45);
    --whiteColor: #fff;
    --blueColor: rgb(3, 106, 196);
    --darkBlue: rgb(11, 50, 112);
    --greyColorLight: rgb(128,128,128);
    --darkGrey: rgb(68,68,68);
    --blackColor: #0a0a0a;
    --yellowish: orange;
}

.App{
    text-align: center;
}